{% extends "base.html" %}
{% block title %}
    {{particular_item.name}} details
{% endblock title  %}
{% block content %}
<main class="container" role="main">
    <div class="d-flex flex-row">
        <img class="d-flex col-md-3" src="{{ particular_item.image }}" height="200" weigth="200">

        <div class="col-md-6">
            <div class="row">
                <h4 class="text-capitalize"> {{ particular_item.name}} </h4>
            </div>
            <div class="row">
                <small>Class: {{ particular_item.type }} </small>
            </div>
            <div class="row">
                <p class="text-white"> "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
            </div>
        </div>
    </div>
    <button id='likes' data-id="{{ particular_item.id }}" class="btn btn-mini btn-outline-danger" type="button"><small class="glyphicon glyphicon-heart">Like it!</small>
        {% if particular_item.likes > 0 %}
            {{ particular_item.likes }}
        {% endif %}
    </button>
</main>
{% endblock content %}

{% block bar %}{% endblock bar %}
